 {
    --JoinUs: "Hey Un Servidor o Grupo Salvaje entro!!";
    --AddNewServer: "Queres Añadir un Servidor a la Partida?";
    --Close: "✖";
    --Resize: "↔";
    --Hide: "🕳";
    --ProfilePic: "Mirame";
    --Unread: "👉";
    --Options: "⚙️"
    --Emoji: "💖";
    --EmojiHover: "💔";
    --Channel: "💬";
    --Voice: "🔊";
    --Community: "en el server";
    --WelcomeMessage: "Bienvenid@ usuari@,llegaste a un Canal nuevo si te encontraste con este mensaje!";
    --Watermark: "Jazmin Sensei B)";
    --EditStatus: "Edita O Pon una Status";
    --Micro: "🎙️";
    --Headset: "🎧";

}
